
.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
}

.header__logo-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 0;
    background-color: var(--primary-color);
}

.header__logo h4 {
    z-index: 2;
    padding-left: 30px;
    color: #fff;
    font-family: var(--playfair-display);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}

.header__menu {
    display: flex;
    font-family: var(--plus-jakarta-sans);
    text-transform: uppercase;
    flex: 1.235;
  
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 64px;
  }

.header__menu li {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.header__menu li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header__menu-mobile {
    display: none;
    gap: 20px;
  
    position: relative;
} 
  